* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}

:root {
    --color1: #209c5a
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#wrapper {
    width: 1200px;
    margin: auto;
}

/* Phần đăng ký, trợ giúp, đăng nhập*/
#nav_1 {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.nav_ul {
    display: flex;
    justify-content: end;
}

.nav_li {
    padding: 0px 5px;
}

.nav_li:hover {
    opacity: 70%;
}

.border_r {
    border-right: 1px solid #999;
    padding-right: 10px;
}

/* Tìm kiếm */
#search {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.logo img {
    width: 100%;
    height: 100%;
}

.form_search {
    flex: 5;
    display: flex;
}

.select_search {
    flex: 1;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid green;
}

.txt_search {
    flex: 3;
    margin: 0px 15px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid green;
}

.btn_search {
    flex: 1;
    background-color: #fff;
    color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 10px;
}

.btn_search:hover {
    background-color: var(--color1);
    color: #fff;
}

/*Phần menu*/
#menu {
    height: 40px;
    background-color: var(--color1);
    /* font-weight: bold; */
    margin: 10px 0px 0px;
}

.menu_ul {
    display: flex;
    justify-content: space-between;
}

.menu_li {
    flex: 1;
}

.menu_li a {
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.menu_li a:hover {
    background-color: #187744;
}

/* banner */
#banner {
    margin-top: 1px;
}

#banner img {
    width: 100%;
    height: 100%;
}

/*Phần thân*/
#main_top {
    display: flex;
    margin-top: 10px;
    /* min-height: 500px; */
}

.sidebar {
    flex: 1;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 720px;
}

.sidebar_ct {
    display: flex;
    margin: 10px 0px;
}

.images {
    flex: 1;
    margin-right: 10px;
}

.images img {
    width: 100%;
    height: 115px;

}

.list_new {
    flex: 1;
}

.content {
    flex: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 720px;
    padding: 0px 10px;
}

.content1 {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

.content12 {
    /* width: 25%; */
    flex-basis: 25%;
    margin: 0 5px;
}

.content12 img {
    width: 100%;
    height: 200px;
}

span {
    display: block;
    margin: 10px 0px;
}

.btn_muahang {
    padding: 10px 20px;
    background-color: var(--color1);
    border: none;
    border-radius: 4px;
    color: #fff;
}

.btn_muahang:hover {
    background-color: #016a2b;
    cursor: pointer;
}

.new_item {
    display: flex;
}

.item1 {
    flex: 1;
    margin: 0px 5px;
}

.item1 img {
    width: 100%;
    height: 250px;
}

.text_new {
    background-color: var(--color1);
    padding: 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 3px;
}

#footer {
    display: flex;
    /* justify-content: space-between; */
}

.footer1 {
    flex: 1;
}

h3 {
    text-transform: uppercase;
    margin: 10px 0px;
}


.btn-ct {
    /* margin-top: 15px; */
    padding: 8px 10px;
    background-color: #209C5A;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /* margin-bottom: 10px; */
    text-decoration: none;
    vertical-align: middle;
}

.mb10 {
    margin: 10px 0;
}

.lb {
    display: inline-block;
    width: 150px;
}

.tmnd {
    font-size: 24px;
}